.icon-bar{
    background-color: #555 !important;
}

.clickable-btn{
    cursor: pointer;
}

.main-panel{
    overflow: initial !important;
    height: 100vh;
    padding: 40px 10px 40px 10px!important;
}

.rbc-calendar {
    min-height: 600px;
}

.row{
    margin: 10px 5px 10px 5px;
}

.centerText{
    text-align: center;
}

.swal2-select{
    display: none !important;
}

.sidebar[data-color="purple"] .nav li.active a, .off-canvas-sidebar[data-color="purple"] .nav li.active a{
    background-color: #27b097 !important;
    box-shadow: 0 12px 20px -10px rgba(0, 255, 114, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 137, 255, 0.52) !important;
}

.card [data-background-color="orange"]{
    background: linear-gradient(60deg, #26ffb7, #26deff) !important;
    box-shadow: 0 12px 20px -10px rgba(0, 255, 114, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 137, 255, 0.52) !important;
    
}

.card [data-background-color="orange"] .title{
    color: white!important;
    text-shadow: 0 0 15px #222;
}
thead.text-warning{
    color: #27b097;
}

.titlePopOut{
    background: linear-gradient(30deg, #50dacd,#3b71c1);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 10px 20px 1px #5b91e0;
    color: white;
    text-shadow: 1px 1px 5px #222;
}

.blackwhitecolor{
    text-shadow: 1px 1px 10px  #222 !important;
}

hide{
    display: none;
}

canvas{
    width: 100% !important;
    max-width: 1550px;
    height: auto !important;
}