.icon-bar{
    background-color: #555 !important;
}

.clickable-btn{
    cursor: pointer;
}

.main-panel{
    overflow: initial !important;
    height: 100vh;
    padding: 40px !important;
}

.rbc-calendar {
    min-height: 600px;
}
